<div class="evaluation-page">
    <div id= 'rectangle'>
        <form [formGroup] = "createForm" class = "create-form">
        <table>
        <tr>
          <td>
              <div class= "form-element title" >
                <h3>Evaluator Name:</h3>
              </div>
              <div class="form-element">
                <input formControlName = "evaluatorName" #evaluatorName type = "text" class = "input" id = "" placeholder="Evaluator Name">
              </div>
          </td>
        </tr>
        <tr>
          <td>
          <div class= "form-element" >
              <h3>Choose the project you want to evaluate </h3>
            </div>
            </td>
        </tr>
        <tr>
          <div  class = 'form-element'>
              <select formControlName = "projectName" #projectName class = 'input-select' >
                <option value="weather-pyramid"> Weather Pyramid </option>
                <option value="smart-card"> Smart Card </option>
                <option value="crack-detection"> Crack Detection </option>
                <option value="dc-dc-converter"> Dc-Dc Converter </option>
                <option value="haptic"> Haptic </option>
                <option value="precision-agri-bot"> Precision Agri Bot </option>
                <option value="multi-agent-robotics-testbed"> Multi-agent robotics testbed </option>
                <option value="small-traffic-management"> Small Traffic Management </option>
                <option value="garbage-collecter"> Garbage Collecter </option>
                <option value="sign-interpreter"> Sign Interpreter </option>
                <option value="smart-theatre"> Smart Theatre </option>
                <option value="muon-detector"> Muon Detector </option> -->
              </select>
          </div>
        </tr>
        <tr>
          <a class = 'form-element'>
            The submitted document lists all the necessary features/functions of the final prototype to be delivered at the end of Capstone II
          </a>
        </tr>
        <tr>
          <div class = 'form-element'>
          <select formControlName = "document_wellexplained_Rating" #documentwellexplainedRating class = 'input-select'>
            <option value="0"> 0 </option>
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
            <option value="6"> 6 </option>
            <option value="7"> 7 </option>
            <option value="8"> 8 </option>
            <option value="9"> 9 </option>
            <option value="10"> 10 </option>
          </select>
        </div>
        </tr>

        <tr>
            <a class = 'form-element'>
                Does the amount of work required for achieving that list justifies the workload of the project (10hrs/wk/student over two semesters)?
            </a>
          </tr>
          <tr>
            <div class = 'form-element'>
            <select formControlName = "workload_justified_Rating" #workloadjustifiedRating class = 'input-select'>
              <option value="0"> 0 </option>
              <option value="1"> 1 </option>
              <option value="2"> 2 </option>
              <option value="3"> 3 </option>
              <option value="4"> 4 </option>
              <option value="5"> 5 </option>
              <option value="6"> 6 </option>
              <option value="7"> 7 </option>
              <option value="8"> 8 </option>
              <option value="9"> 9 </option>
              <option value="10"> 10 </option>
            </select>
          </div>
          </tr>
          <tr>
              <a class = 'form-element'>
                  Does the document provide quantitative specifications (Engineering Design Specs) and constraints for these functions?
              </a>
            </tr>
            <tr>
              <div class = 'form-element'>
              <select formControlName = "quantitative_specs_Rating" #quantitativespecsRating class = 'input-select'>
                <option value="0"> 0 </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
                <option value="3"> 3 </option>
                <option value="4"> 4 </option>
                <option value="5"> 5 </option>
                <option value="6"> 6 </option>
                <option value="7"> 7 </option>
                <option value="8"> 8 </option>
                <option value="9"> 9 </option>
                <option value="10"> 10 </option>
              </select>
            </div>
            </tr>
            <tr>
                <a class = 'form-element'>
                    The features chosen for Proof of concept are justifiable considering the outcomes/overall solution of the project
                </a>
              </tr>
              <tr>
                <div class = 'form-element'>
                <select formControlName = "proofOfConcept_Rating" #proofOfConceptRating class = 'input-select'>
                  <option value="0"> 0 </option>
                  <option value="1"> 1 </option>
                  <option value="2"> 2 </option>
                  <option value="3"> 3 </option>
                  <option value="4"> 4 </option>
                  <option value="5"> 5 </option>
                  <option value="6"> 6 </option>
                  <option value="7"> 7 </option>
                  <option value="8"> 8 </option>
                  <option value="9"> 9 </option>
                  <option value="10"> 10 </option>
                </select>
              </div>
              </tr>
              <tr>
                  <a class = 'form-element'>
                      Suggested solution has novelty and there is potential for sufficient intellectual contribution.
                  </a>
                </tr>
                <tr>
                  <div class = 'form-element'>
                  <select formControlName = "potential_contribution_Rating" #potentialcontributionRating class = 'input-select'>
                    <option value="0"> 0 </option>
                    <option value="1"> 1 </option>
                    <option value="2"> 2 </option>
                    <option value="3"> 3 </option>
                    <option value="4"> 4 </option>
                    <option value="5"> 5 </option>
                    <option value="6"> 6 </option>
                    <option value="7"> 7 </option>
                    <option value="8"> 8 </option>
                    <option value="9"> 9 </option>
                    <option value="10"> 10 </option>
                  </select>
                </div>
              </tr>
            <tr>
              <td>
                <a class = 'form-element'>Any suggestions/recommendations for the project group:</a>
                <input formControlName = "suggestions" #suggestions class = 'suggestion'>
              </td>
          </tr>
          </table>
          <a (click)="Submit(evaluatorName.value,projectName.value,documentwellexplainedRating.value,workloadjustifiedRating.value,quantitativespecsRating.value,proofOfConceptRating.value,potentialcontributionRating.value,suggestions.value)" class="btn rounded-btn"> Submit </a>

        </form>
      </div>
  </div>

