.main-page{
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 5%;
  overflow: auto;
  background: #222;
  text-align: left;
  color: #fff;
  padding: 3em;
  .header{
    margin-top: 0%;
  }


}
