.main-page{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background:  #222 ;
  text-align: left;
  color: #fff;
  padding: 3em;
  .header{
    margin-top: 0%;
  }


}
