<div class="signup-page">
  <div id= 'rectangle'>
    <img class = 'user-avatar' src="assets/images/logo.png" width="150px" />
    <form>
    <h4 class= "form-element" >Fill out this form and wait for confirmation mail to get started with your capstone project.</h4>
      <div class= "form-element title" >
        <h2>Project Title:</h2>
        <input type = "text" class = "input" id = "" placeholder="Project Name">
      </div>
      <div class= "form-element" >
          <h3>Number of Student:</h3>
          <select class = 'input-select'>
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
          </select>
      </div>
      <table>
        <h2 class = 'form-element'>Student 1:</h2>
        <tr>
          <td><div class= "form-element" >
              <h3>Student Name:</h3>
              <input type = "text" class = "input" id = "" placeholder="e.g. Saman Gaziani">
          </div>
          </td>
          <td><div class= "form-element" >
              <h3>Student ID:</h3>
              <input type = "text" class = "input" id = "" placeholder="e.g. 02494">
          </div>
        </td>
        </tr>
        <tr>
          <td><div class= "form-element" >
            <h3>Major: </h3>
              <select class = 'input-select'>
                  <option value="CS"> Computer Science </option>
                  <option value="EE"> Electrical Engineering </option>
                  <option value="SDP"> Social Development Policy </option>
                  <option value="CnD"> Communication and Design </option>
              </select>
          </div>
        </td>
        <td>  <div class= "form-element" >
              <h3>Academic Advisor: </h3>
              <input type = "text" class = "input" id = "" placeholder="Name">
          </div>
        </td>
        </tr>
      </table>
      <a class="btn rounded-btn" [routerLink]="['/dashboard']"> Register </a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
    </form>
  </div>
</div>
