.signup-page
{
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 5%;
  overflow: auto;
  text-align: left;
  color: #fff;
  background: #222;
  padding: 3em;
  .user-avatar{
    border-radius: 50%;
    border: 2px solid #fff;
}
  .form-element
  {
    padding-left: 20px;
  .input{
    height: 20px;
    width:80%;
    padding: 10px 16px;
    font-size: 18px;
    background: 0 0;
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);}
  }
  .title{
    text-align: center;
    width: 50%}

  #rectangle{
    padding: 20px;
    margin: 5%;
    width:90%;
    border: 2px solid rgba(255, 255, 255, 0.5);}
    .rounded-btn {
      border-radius: 50px;
    color: rgba(255,255,255,0.8);
    background : #222;
    border: 2px solid rgba(255,255,255,0.8);
    font-size: 18px;
    line-height: 40px;
    padding: 5px 30px;
    margin-left: 10px}
  .rounded-btn:hover,
  .rounded-btn:focus,
  .rounded-btn:active,
  .rounded-btn:visited {
      color: rgba(255, 255, 255, 1);
      border: 2px solid rgba(255, 255, 255, 1);
      outline: none;
  }

  }
