<div class="login-page">

  <div class="col">
      <img src="assets/images/logo.png" width="150px" class="user-avatar" />
      <h1>Capstone Dashboard</h1>
      <form >
        <div class="form-content">
          <div class="form-element">
              <input type = "text" class = "input" id = "" placeholder="Email">
          </div>
          <div class="form-element">
              <input type = "password" class = "input" id = "" placeholder="Password">
          </div>
        </div>
        <a class = "btn rounded-btn" [routerLink]= "['home']" >Log in </a>
        <a class = "btn rounded-btn" [routerLink]= "['signup']" >Sign up </a>
      </form>

  </div>
</div>
