.app-footer
{
  position: absolute;
  left: 0;
  right: 0;
  top: 95%;
  height:10%;
  overflow: auto;
  text-align: left;
  background: grey;
  color: black;
  font-size: 25px;
  padding: 10px;
  .navbar-title {
    color: black;
  }
  .navbar-logout{
    text-align: right;
  }
  .navbar-item{
    text-align: center;
  }
}
